body {
  margin: 0px;
  padding: 0px;
}

.appbar {
  width: 100%;
  height: 60px;
  background-color: white;
  box-shadow: 1px 5px 10px gray;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.appLogo {
  height: 60px;
  width: auto;
  object-fit: contain;
}

.subtitle {
  padding-left: 5px;
  font-size: 30px;
  font-weight: bold;
  padding-left: 20px;
  color: #353835;
}

.logoAppbarSection {
  cursor: pointer;
  display: flex;
  align-items: center;
}